body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.container{
    max-width: 360px;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    margin: 0% auto;
}
.container img{
    border-radius: 15px;
    width: 100%;
}
.text{
    padding: 0 34px 10px  ;
    text-align: center;
}
h2{
    color: hsl(218, 44%, 22%);
    font-size: 1.6em;
}
p{
    color: hsl(212, 45%, 89%);
    font-weight: 400;
}